*,
* > * {
  box-sizing: border-box;
}

#container {
  height: 1500px;
  width: 1000px;
  margin: 50px auto;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: rgb(169, 176, 177) 0px 0rem 0.8rem -0.2rem;
  border-radius: 8px;
}

button {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  transition: 0.3s ease;
  background: transparent;
  font-weight: bold;
}
button:hover {
  background-color: rgba(141, 138, 138, 0.8);
}

.left-section {
  height: 100%;
  width: 30%;
  padding: 12px;
  background-color: green;
  border-radius: 8px;
}

.right-section {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  padding-top: 50px;
  padding-bottom: 100px;
  padding: 10px;
}

.sec-1 {
  width: 100%;
  height: 200px;
  padding: 8px;
}

.sec-2 {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.sec-3 {
  width: 100%;
  height: 200px;
  display: flex;
}

.sec-4 {
  width: 100%;
  height: 150px;
}

.segment-1 {
  width: 100%;
  height: 100px;
}

.segment-2 {
  width: 100%;
  height: 400px;
  display: flex;
}

.segment-3 {
  width: 100%;
  height: 400px;
  display: flex;
}

.L {
  width: 30%;
  padding: 10px;
  position: relative;
  bottom: 11px;
}

.R {
  width: 70%;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: rgb(235, 228, 228);
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.right-section h4 {
  /* border: 2px solid red; */
  animation: changecolor 5s infinite alternate;
}

@keyframes changecolor {
  0% {
    color: goldenrod;
  }
  50% {
    color: green;
  }
  100% {
    color: red;
  }
}

.right-section .dot {
  flex-direction: row;
  justify-content: space-between;
}
.dot {
  margin-right: 5px;
  background-color: rgba(168, 167, 167, 0.8);
}
.circle {
  background-color: rgb(59, 59, 59);
}
/* .dot:hover {
  background-color: rgba(141, 138, 138, 0.8);
} */
